<a href="https://colab.research.google.com/github/sebinefrancis/Deep-Learning-Exercise/blob/IMDB-Movie-Review-Binary-Classification/IMDB%20Review%20Binary%20Classification/IMDB_Binary_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from keras.datasets import imdb

Using TensorFlow backend.

In [0]:
(train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)

Because you’re restricting yourself to the top 10,000 most frequent words, no word
**index** will exceed 10,000:

In [7]:
train_data[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 2,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 2,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 2,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 2,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 2,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 2,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

In [0]:
train_labels[0]

In [6]:
max([max(sequence) for sequence in train_data])

9999

Because you’re restricting yourself to the top 10,000 most frequent words, no word
**index** will exceed 10,000: Here we check for highest number that appear in each review (ie highest index number that appear in each sequence in `train_data`)and then find highest of those highest indices of each review

In [0]:
word_index = imdb.get_word_index()
reverse_word_index = dict([(value, key) for (key, value) in word_index.items()])
decoded_review = ' '.join([reverse_word_index.get(i-3 , '?') for i in train_data[0]])
print(decoded_review)
#print(reverse_word_index.get(0,'?'))
#print(reverse_word_index.get(14,'?'))
#print(reverse_word_index.get(11,'?'))
#train_data[0]

The integers represnting indices of words in review are offset by 3 from that of dictionary. Because in review it is considered that 0 = "PADDING" 1="START" and 2="UNKNOWN". If there is 14 in review, it means 14-3 = 11 is the correct word in dictionary. so 14 in review represents 11 in dictionary. 3 in review repsents 0 in dictionary. 4=1, 5=2 AND SO ON. If i = 2 (means "UNKNOWN" in review), 2-3=-1, which is not a valid index for dictionary and our code will place '?' there. So for 0,1,2 in reviw we get a '?'

[Explanation](https://stackoverflow.com/questions/42821330/restore-original-text-from-keras-s-imdb-dataset/44891281)

In [0]:
import numpy as np
# results = np.zeros((2, 5))
# results[1, [1,3]] = 1.
# print(results)
# results = np.zeros((2, 5))
# results[1, [1,1]] = 1. # [1,1] is similar to same word repeated 2 times in review
# print(results)

def vectorize_sequences(sequences, dimension=10000):
  results = np.zeros((len(sequences), dimension)) #creates all zero matrix, 
  #with dimensions = 10000 in one axis and equal to number of reviews in other axis
  for i, sequence in enumerate(sequences): #iterate each reviews and corresponding result axis
    results[i, sequence] = 1. #set for each result (i th result), the values in indices
    #corresponding to the sequence(review) value, to 1. So if first review has first value 3,
    # then 3rd indice in first result is 1. So basically this result indicate whether that review
    #contains the word or not (atleast once). Uncomment the code to see it.
    #Sets specific indices of results[i] to 1s
  return results

x_train = vectorize_sequences(train_data)
x_test = vectorize_sequences(test_data)
x_train[0]

#Now vectorize our labels as well. Just changing data type, and convert to tensor
# our labels are already 0 and 1s.
y_train = np.asarray(train_labels).astype('float32')
y_test = np.asarray(test_labels).astype('float32')

Now the data is ready to fed into network

array([1, 0, 0, ..., 0, 1, 0])